.joinWrap {background-color: #f8f8f8;display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; color: #fff; padding-top: 48px; }
.joinContent { height: 694px; width: 640px; background-color: #fff; border-radius: 30px; margin-bottom: 238px; padding: 60px 71.5px 48px 72.5px; } 
.joinContent h4 { color: #006ff2; font-size: 40px; font-weight: 300; margin-bottom: 36px; } 
.joinContent .terms,
.joinContent .privacy { color: #000; text-align: left; } 
.joinContent .terms .checkbox label,
.joinContent .privacy .checkbox label,
.joinContent .allagree .checkbox label { padding-left: 28px; height: auto; min-height: 20px; font-size: 16px; padding-top: 2px; font-family: "SamsungOne500"; word-break: keep-all !important; } 
.joinContent .terms h5,
.joinContent .privacy h5 { margin: 10px 0; font-size: 15px; font-weight: 700; line-height: 1.2; display: inline-block; border-bottom: 1px solid #000; margin-left: 30px; } 
.joinContent .terms .termsScroll{ width: 450px; height: 100px; border: 1px solid #e6e6e6; padding: 14px 35px 14px 15px; margin: 0px 0 20px 20px; font-weight: 100; overflow-y: scroll; font-size: 13px; line-height: 1.38; } 
.joinContent .privacy .termsScroll {
  width: 450px;
  height: 100px;
  border: 1px solid #e6e6e6;
  padding: 14px 35px 14px 15px;
  margin: 0px 0 29px 29px;
  font-weight: 100;
  overflow-y: scroll;
  font-size: 13px;
  line-height: 1.38;
}

.allagree {margin: 0 0 48px; border-top:2px dotted #e6e6e6; padding-top: 19px;}
.allagree .bntBlue {
padding: 11px 124px 10px 125px;
 border-radius: 20px;
 font-weight: 600; opacity: 0.4;
 color: #fff;
 height: 40px;
 font-size: 14px;
 margin-top: 40px;
 background-color: #2189ff; }
 .allagree .bntBlue.active { opacity:1}